public/xsd/bmp023.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Bundeseinheitlicher Medikationsplan (BMP) (bmp023.xsd)
	2016-07-15 Version 2.3

	verantwortliche Organisationen KBV, DAV und BÄK

    basierend auf Medikationsplan Ultrakurzformat (UKF)
    
    In Zusammenarbeit mit:    
    Bundesverband Deutscher Apothekensoftwarehäuser (ADAS e.V.)
    Bundesverband Gesundheits-IT e.V. (bvitg e.V.)
    HL7 Deutschland e.V.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="MP">
		<xs:annotation>
			<xs:documentation>Bundesmedikationsplan</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="P">
					<xs:annotation>
						<xs:documentation>Patient</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="g" use="required">
							<xs:annotation>
								<xs:documentation>Vorname</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="45"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="f" use="required">
							<xs:annotation>
								<xs:documentation>Nachname</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="45"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="egk">
							<xs:annotation>
								<xs:documentation>Patienten-ID (entsprechend EGK-Spezifikation), Format: A000000000</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="10"/>
									<xs:pattern value="[A-Z]\d{9}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="b">
							<xs:annotation>
								<xs:documentation>Geburtsdatum des Patienten, Formate: YYYY-MM-DD, YYYY-MM (wenn Tag nicht bekannt), YYYY (wenn Monat und Tag nicht bekannt)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="\d{4}(-[0-1][0-9](-[0-3][0-9])?)?"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="s">
							<xs:annotation>
								<xs:documentation>Geschlecht des Patienten (M, W, X), im Druck: "Geschl.:" m | w | unbestimmt
(nicht angegeben = unbekannt)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="M">
										<xs:annotation>
											<xs:documentation>männlich</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="W">
										<xs:annotation>
											<xs:documentation>weiblich</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="X">
										<xs:annotation>
											<xs:documentation>unbestimmt</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="A">
					<xs:annotation>
						<xs:documentation>Ausdruckender des Medikationsplans</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="lanr">
							<xs:annotation>
								<xs:documentation>Lebenslange Arztnummer
entweder lanr oder idf darf angegeben sein</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="\d{9}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="idf">
							<xs:annotation>
								<xs:documentation>7-stellige -	Apotheken-IDF
entweder lanr oder idf darf angegeben sein</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="\d{7}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="n" use="required">
							<xs:annotation>
								<xs:documentation>Name der aktuell ausdruckenden Instanz (Einrichtung)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="80"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="s">
							<xs:annotation>
								<xs:documentation>Straße</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="z">
							<xs:annotation>
								<xs:documentation>PLZ 5 Ziffern</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="\d{5}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="c">
							<xs:annotation>
								<xs:documentation>Ort</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="p">
							<xs:annotation>
								<xs:documentation>Telefonnummer</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="e">
							<xs:annotation>
								<xs:documentation>E-Mail</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="80"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="t" type="xs:date" use="required">
							<xs:annotation>
								<xs:documentation>Ausdruckdatum,  Format YYYY-MM-DD</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="O">
					<xs:annotation>
						<xs:documentation>Parameter, die 3 Druck-Parameterzeilen werden aus Geschlecht sowie den hier angegebenen optionalen Attributen sinnvoll in der Reihenfolge befüllt:
Allerg./Unv.:
schwanger
stillend
Gew.:
Größe:
Krea.:
Geschl.:
Freitext
Nach jeweils max. 25 Zeichen pro Zeile muss ein Umbruch erfolgen. Wenn die 3 Zeilen für die Anzeige nicht ausreichen, endet die 3. Zeile mit "..."</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="ai">
							<xs:annotation>
								<xs:documentation>Allergie(n) + Unverträglichkeit(en), Druck: "Allerg./Unv.:"</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="p" fixed="1">
							<xs:annotation>
								<xs:documentation>schwanger, Regel: wenn schwanger p="1", sonst weglassen, Druck: "schwanger"</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="b" fixed="1">
							<xs:annotation>
								<xs:documentation>stillend, Regel: wenn stillend b="1", sonst weglassen, Druck "stillend"</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="w">
							<xs:annotation>
								<xs:documentation>Gewicht [kg], Druck "Gew.: x kg"</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:fractionDigits value="1"/>
									<xs:maxInclusive value="999"/>
									<xs:minExclusive value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="h">
							<xs:annotation>
								<xs:documentation>Größe [cm], Druck "Größe: x cm"</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:minInclusive value="10"/>
									<xs:maxInclusive value="299"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="c">
							<xs:annotation>
								<xs:documentation>Kreatininwert mg/dl], Druck "Krea.: x mg/dl"</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:fractionDigits value="2"/>
									<xs:minInclusive value="0"/>
									<xs:maxExclusive value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="x">
							<xs:annotation>
								<xs:documentation>Parameter Freitext
darf max. 2 manuelle Umbrüche enthalten: "~".</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="77"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="S" minOccurs="0" maxOccurs="23">
					<xs:annotation>
						<xs:documentation>Block</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:choice maxOccurs="45">
							<xs:element name="M">
								<xs:annotation>
									<xs:documentation>Medikation; mindestens ein Attribut oder Wirkstoffe müssen angegeben sein.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="W" minOccurs="0" maxOccurs="3">
											<xs:annotation>
												<xs:documentation>Wirkstoff; 
Wenn nicht angegeben werden alle Wirkstoffnamen/-stärken aus der PZN abgeleitet.
Bei Kombipräperaten kann für die bis zu 3 gedruckten Komponenten jeweils ein Eintrag erzeugt werden. Ein leeres Element ist nur erlaubt wenn bei einem  Kombipräparat z.B. der 2. Wirkstoffname angepasst wird und der erste aus der PZN abgeleitet werden soll.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="w">
													<xs:annotation>
														<xs:documentation>Wirkstoff, entweder definiert oder fehlend (dann bei Ausdruck ggf. aus PZN abgeleitet)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="80"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="s">
													<xs:annotation>
														<xs:documentation>Wirkstärke, entweder definiert oder fehlend (dann bei Ausdruck ggf. aus PZN abgeleitet)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="11"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="p">
										<xs:annotation>
											<xs:documentation>PZN</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:int">
												<xs:maxInclusive value="99999999"/>
												<xs:minInclusive value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="a">
										<xs:annotation>
											<xs:documentation>Arzneimittel (Handelsname), entweder definiert oder fehlend (dann bei Ausdruck ggf. aus PZN abgeleitet)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="f">
										<xs:annotation>
											<xs:documentation>Darreichungsform IFA Codes, entweder definiert oder fehlend (dann bei Ausdruck ggf. aus PZN abgeleitet); @f und @fd DARF NICHT gleichzeitg angegeben werden</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="3"/>
												<xs:pattern value="[A-Z]{3}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="fd">
										<xs:annotation>
											<xs:documentation>Darreichungsform als Freitext, entweder definiert oder fehlend (dann bei Ausdruck ggf. aus PZN abgeleitet); @f und @fd DARF NICHT gleichzeitg angegeben werden</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="7"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="m" type="dosierungTyp">
										<xs:annotation>
											<xs:documentation>morgens, wenn nicht angegeben = "0"; @m DARF NICHT gleichzeitig mit @t angegeben werden</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="d" type="dosierungTyp">
										<xs:annotation>
											<xs:documentation>mittags, wenn nicht angegeben = "0"; @d DARF NICHT gleichzeitig mit @t angegeben werden</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="v" type="dosierungTyp">
										<xs:annotation>
											<xs:documentation>abends, wenn nicht angegeben = "0"; @v DARF NICHT gleichzeitig mit @t angegeben werden</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="h" type="dosierungTyp">
										<xs:annotation>
											<xs:documentation>zur Nacht, wenn nicht angegeben = "0"; @h DARF NICHT gleichzeitig mit @t angegeben werden</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="t">
										<xs:annotation>
											<xs:documentation>Freitextdosierung; @t DARF NICHT gleichzeitig mit den Attributen @m, @d, @v oder @h angegeben werden</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="du">
										<xs:annotation>
											<xs:documentation>Dosiereinheit kodiert lt. Anhang 4; @du DARF NICHT gleichzeitig mit @dud angegeben werden</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value="[#0-9a-v]"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="dud">
										<xs:annotation>
											<xs:documentation>Freitext Dosiereinheit; @du DARF NICHT gleichzeitig mit @dud angegeben werden</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="2"/>
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="i">
										<xs:annotation>
											<xs:documentation>Hinweise
Darf max.  einen manuellen Umbruch enthalten: "~"</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="80"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="r">
										<xs:annotation>
											<xs:documentation>Behandlungsgrund
Darf max.  einen manuellen Umbruch enthalten: "~"</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="X">
								<xs:annotation>
									<xs:documentation>Freitextzeile</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="t" use="required">
										<xs:annotation>
											<xs:documentation>Freitext, darf max.  einen manuellen Umbruch enthalten: "~". </xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="200"/>
												<xs:minLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="R">
								<xs:annotation>
									<xs:documentation>Rezeptur </xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="t" use="required">
										<xs:annotation>
											<xs:documentation>Freitext, darf max.  einen manuellen Umbruch enthalten: "~"</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="200"/>
												<xs:minLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:choice>
						<xs:attribute name="t">
							<xs:annotation>
								<xs:documentation>Freitextzwischenüberschrift: @t und @c DARF NICHT gleichzeitig angegeben werden.
Ab dem 2. Block muss entweder @t oder @c gewüllt werden.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="c">
							<xs:annotation>
								<xs:documentation>Zwischenüberschrift (Codes siehe Dokumentation); @t und @c DARF NICHT gleichzeitig angegeben werden</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="411">
										<xs:annotation>
											<xs:documentation>Bedarfsmedikation</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="412">
										<xs:annotation>
											<xs:documentation>Dauermedikation</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="413">
										<xs:annotation>
											<xs:documentation>Intramuskuläre Anwendung</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="414">
										<xs:annotation>
											<xs:documentation>Besondere Anwendung</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="415">
										<xs:annotation>
											<xs:documentation>Intravenöse Anwendung</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="416">
										<xs:annotation>
											<xs:documentation>Anwendung unter die Haut</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="417">
										<xs:annotation>
											<xs:documentation>Fertigspritze</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="418">
										<xs:annotation>
											<xs:documentation>Selbstmedikation</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="419">
										<xs:annotation>
											<xs:documentation>Allergiehinweise</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="421">
										<xs:annotation>
											<xs:documentation>Wichtige Hinweise</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="422">
										<xs:annotation>
											<xs:documentation>Wichtige Angaben</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="423">
										<xs:annotation>
											<xs:documentation>zu besonderen Zeiten anzuwendende Medikamente</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="424">
										<xs:annotation>
											<xs:documentation>zeitlich befristet anzuwendende Medikamente</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="v" use="required" fixed="023">
				<xs:annotation>
					<xs:documentation>Versionsnummer, Format xxy, beim Druck wird aus 023 ein 2.3</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
						<xs:pattern value="\d*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="p" use="prohibited">
				<xs:annotation>
					<xs:documentation>Patchnummer 
(zusätzlich zum Attribut Version) 
Bei jeder neuen Version ist initial das Attribut Patch-Version leer
Mit dem ersten Patch wird der Patch auf 0 gesetzt und mit jedem weiteren Patch um 1 hochgezählt.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="U" use="required">
				<xs:annotation>
					<xs:documentation>Instanz-ID (gleich für alle Seiten des Plans)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[A-F0-9]{32}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="a" use="optional">
				<xs:annotation>
					<xs:documentation>Seitenzahl (aktuelle Seite), mit 1 startend; Muss bei mehrseitigen Plänen verwendet weden. Bei einseitigem Plan muss es weggelassen werden.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="z" use="optional">
				<xs:annotation>
					<xs:documentation>Gesamtseitenzahl; Muss bei mehrseitigen Plänen verwendet weden. Bei einseitigem Plan muss es weggelassen werden.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="2"/>
						<xs:maxInclusive value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="l" use="required" fixed="de-DE">
				<xs:annotation>
					<xs:documentation>Sprachkennzeichen-Länderkennzeichen;
derzeit nur de-DE</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="dosierungTyp">
		<xs:restriction base="xs:string">
			<xs:pattern value="([1-9]\d{0,3})|([1-9]\d,\d)|(\d,\d{1,2})|1/8|1/2|2/3|1/3|1/4|3/4"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>