public/xsd/bmp_V2.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Bundeseinheitlicher Medikationsplan (BMP) (bmp_V2.6.xsd)
	01. Juli 2019, Version 2.6

	verantwortliche Organisationen KBV, DAV und BÄK

    basierend auf Medikationsplan Ultrakurzformat (UKF)
    
    In Zusammenarbeit mit:    
    Bundesverband Deutscher Apothekensoftwarehäuser (ADAS e.V.)
    Bundesverband Gesundheits-IT e.V. (bvitg e.V.)
    HL7 Deutschland e.V.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified" version="2.6">
	<xs:annotation>
		<xs:documentation xml:lang="de">Bundeseinheitlicher Medikationsplan (BMP) (bmp_V2.6.xsd) vom 1. Juli 2019, Version 2.6 basierend auf Medikationsplan Ultrakurzformat (UKF) In Zusammenarbeit mit: Bundesverband Deutscher Apothekensoftwarehäuser (ADAS e.V.), Bundesverband Gesundheits-IT e.V. (bvitg e.V.), HL7 Deutschland e.V.</xs:documentation>
	</xs:annotation>
	<xs:element name="MP">
		<xs:annotation>
			<xs:documentation>Bundeseinheitlicher Medikationsplan nach § 31a (SGB V)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="P">
					<xs:annotation>
						<xs:documentation>Patient</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="g" use="required">
							<xs:annotation>
								<xs:documentation>Name: Vorname

Beschreibung: Vorname des Versicherten</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="45"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="f" use="required">
							<xs:annotation>
								<xs:documentation>Name: Nachname

Beschreibung: Nachname des Versicherten</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="45"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="egk" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Versicherten-ID

Beschreibung: Die Versicherten-ID ist der 10-stellige unveränderliche Teil der 30-stelligen Krankenversichertennummer.

Befüllung / Format: analog VSDM, A000000000</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="10"/>
									<xs:pattern value="[A-Z]\d{9}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="b" use="required">
							<xs:annotation>
								<xs:documentation>Name: Geburtsdatum

Beschreibung: Geburtsdatum des Versicherten - Das Geburtsjahr muss immer gefüllt werden. Bei Inländern ist immer ein logisch richtiges Geburtsdatum anzugeben. Bei Ausländern gilt folgendes: Zumindest das Geburtsjahr ist immer anzugeben. Im Geburtstag oder im Geburtstag und im Geburtsmonat ist bei Ausländern "00" bzw. "0000" zulässig, wenn der Geburtstag und der Geburtsmonat nicht zu ermitteln sind.

Befüllung / Format: analog VSDM, YYYYMMDD (ISO-8601)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="8"/>
									<xs:pattern value="\d{4}(0[0-9]|1[012])(0[0-9]|[12][0-9]|3[01])"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="s" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Geschlecht

Beschreibung: Administrative Geschlecht des Versicherten 

Befüllung / Format: analog VSDM, "M" = männlich, "W" = weiblich, "X" = unbestimmt, "D" = divers</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="1"/>
									<xs:pattern value="[A-Z]"/>
									<xs:enumeration value="M">
										<xs:annotation>
											<xs:documentation>männlich</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="W">
										<xs:annotation>
											<xs:documentation>weiblich</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="X">
										<xs:annotation>
											<xs:documentation>unbestimmt</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="D">
										<xs:annotation>
											<xs:documentation>divers</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="t" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Titel

Beschreibung: Gibt die akademischen Grade des Versicherten an. Mehrere Titel werden durch Leerzeichen getrennt angegeben.

Befüllung / Format: analog VSDM</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="v" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Vorsatzwort

Beschreibung: Gibt die Vorsatzwörter des Versicherten an. Mehrere Vorsatzwörter werden durch Leerzeichen getrennt angegeben.

Befüllung / Format: analog VSDM, Anlage 6 (Tabelle der gültigen Vorsatzworte) zur DEÜV, siehe www.gkv-datenaustausch.de/arbeitgeber/deuev/gemeinsame_rundschreiben/gemeinsame_rundschreiben.jsp			</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="z" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Namenszusatz

Beschreibung. Gibt die Namenszusätze des Versicherten an, z. B.: Freiherr. Mehrere Namenzusätze werden durch Leerzeichen getrennt angegeben.

Befüllung / Format: analog VSDM, Anlage 7 (Tabelle der gültigen Namenszusätze) zur DEÜV, siehe www.gkv-datenaustausch.de/arbeitgeber/deuev/gemeinsame_rundschreiben/gemeinsame_rundschreiben.jsp</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="A">
					<xs:annotation>
						<xs:documentation>Ausdruckender des Medikationsplans</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="lanr" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Lebenslange Arztnummer

Beschreibung: Lebenslange Identifikationsnummer eines Arztes 

Befüllung / Format: 9-stellige Nummer

Validitätskriterium: Es darf maximal eines der drei Attribute lanr, idf und kik vorhanden sein.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="9"/>
									<xs:pattern value="\d{9}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="idf" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Apothken-IDF

Beschreibung: Identifikationsnummer einer Apotheke

Befüllung / Format: 7-stellige Nummer

Validitätskriterium: Es darf maximal eines der drei Attribute lanr, idf und kik vorhanden sein.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="7"/>
									<xs:pattern value="\d{7}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="kik" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Krankenhaus-IK

Beschreibung: Institutionskennzeichen Krankenhaus

Befüllung / Format: 9-stellige Nummer

Validitätskriterium: Es darf maximal eines der drei Attribute lanr, idf und kik vorhanden sein.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="9"/>
									<xs:pattern value="\d{9}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="n" use="required">
							<xs:annotation>
								<xs:documentation>Name: Name

Beschreibung: Bezeichnung der Instanz, die den BMP ausgedruck hat, Leistungserbringer oder Organisationseinheit, (Arztpraxis, Krankenhaus/Station, Zahnarztpraxis, psychotherapeutische Praxis, Apotheke)

Befüllung / Format: Freitext</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="80"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="s" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Straße

Beschreibung: Straße mit Hausnummer als Teil der Adresse der Instanz, die den BMP ausgedruck hat

Befüllung / Format: Freitext</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="z" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Postleitzahl

Beschreibung: PLZ als Teil der Adresse der Instanz, die den BMP ausgedruckt hat

Befüllung / Format: 5-stellige Nummer (Werte des PLZ-Katalogs der Deutschen Post)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="5"/>
									<xs:pattern value="\d{5}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="c" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Ort

Beschreibung: Ort als Teil der Adresse der Instanz, die den BMP ausgedruckt hat

Befüllung / Format: Freitext</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="p" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Telefon

Beschreibung: Telefonnummer der Instanz, die den BMP ausgedruckt hat

Befüllung / Format: Freitext</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="e" use="optional">
							<xs:annotation>
								<xs:documentation>Name: E-Mail

Beschreibung: E-Mail der Instanz, die den BMP ausgedruckt hat

Befüllung / Format: Freitext
</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="80"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="t" use="required">
							<xs:annotation>
								<xs:documentation>Name: Ausdruckdatum 

Beschreibung: Ausdruckdatum - Datum und Uhrzeit der letzten Änderung des Medikationsplans 

Befüllung / Format: YYYY-MM-DDThh:mm:ss</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:dateTime">
									<xs:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="O" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Parameter, die 3 Druck-Parameterzeilen werden aus Geschlecht sowie den hier angegebenen optionalen Attributen sinnvoll in der Reihenfolge befüllt: Allerg./Unv.:, schwanger, stillend, Gew.:, Größe:, Krea.:, Geschl.:, Freitext. Nach jeweils max. 25 Zeichen pro Zeile muss ein Umbruch erfolgen. Wenn die 3 Zeilen für die Anzeige nicht ausreichen, endet die 3. Zeile mit "..."</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="ai" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Allergien und Unverträglichkeiten

Beschreibung: Zusätzliche Allergien und Unverträglichkeiten

Befüllung / Format: Freitext</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="p" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Schwanger

Beschreibung: Kennzeichen zur Schangerschaft

Befüllung / Format: Wenn eine Schwangerschaft vorliegt, wird das Attribut angegeben (p="1"). Ansonsten wird das Attribut weggelassen. Dies bedeutet, dass keine Aussage über eine Schwangerschaft möglich ist.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="1"/>
									<xs:enumeration value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="b" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Stillend

Beschreibung: Kennzeichen Stillend

Befüllung / Format: Wenn die Versicherte stillend ist, wird das Attribut angegeben (b="1"). Ansonsten wird das Attribut weggelassen. Dies bedeutet, dass keine Aussgage zum Stillen möglich ist.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="1"/>
									<xs:enumeration value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="w" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Gewicht

Beschreibung: Gewicht des Versicherten

Befüllung / Format: kg</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:fractionDigits value="1"/>
									<xs:maxInclusive value="999"/>
									<xs:minExclusive value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="h" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Größe

Beschreibung: Körpergröße des Versicherten

Befüllung / Format: cm</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:minInclusive value="10"/>
									<xs:maxInclusive value="299"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="c" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Kreatininwert

Beschreibung: Kreatininwert des Versicherten

Befüllung / Format: mg/dl</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:fractionDigits value="2"/>
									<xs:minInclusive value="0"/>
									<xs:maxExclusive value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="x" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Parameterfreitext

Beschreibung: Ergänzung von Parametern

Befüllung / Format: Freitext, maximal 2 manuelle Umbrüche können jeweils mit einer Tilde ("~") gekennzeichnet werden

Validitätskriterium: Das Attribut x darf nicht mehr als 2 Tildezeichen enthalten ("~").</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="77"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="S" minOccurs="0" maxOccurs="23">
					<xs:annotation>
						<xs:documentation>Blöcke ggf. mit Überschrift (Gruppierungen von Medikationseinträgen)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:choice maxOccurs="45">
							<xs:element name="M">
								<xs:annotation>
									<xs:documentation>Medikation

Mindestanforderung: mindestens ein Attribut oder Wirkstoff muss angegeben sein.

Validitätskriterium: Falls für eine Medikation eine PZN angegeben ist, so sind die anhand der PZN aus einer Arzneimitteldatenbank ableitbaren Attribute (inklusive Wirkstoffe) nicht anzugeben, außer Sie sind vom Anwender manuell anders erfasst.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="W" minOccurs="0" maxOccurs="3">
											<xs:annotation>
												<xs:documentation>Wirkstoff; 
Es wird, wenn eine Änderung an den Wirkstoffen vorgenommen wird, keine Ableitung aus der PZN mehr durchgeführt, sondern die Wirkstoffe direkt in den Carrier geschrieben.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="w" use="required">
													<xs:annotation>
														<xs:documentation>Name: Wirkstoff

Beschreibung: Bezeichnung eines Wirkstoffes

Befüllung / Format: Freitext</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="80"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="s" use="optional">
													<xs:annotation>
														<xs:documentation>Name: Wirkstärke Freitext

Beschreibung: Bezeichnung der Wirkstärke

Befüllung / Format: Freitext</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="15"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="p" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Modifizierte PZN

Beschreibung: Pharmazentralnummer einer Fertigarzneimittelpackung
</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:int">
												<xs:maxInclusive value="99999999"/>
												<xs:minInclusive value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="a" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Arzneimittelname

Beschreibung: Freitextliche Bezeichnung eines Fertigarzneimittels (Handelsname)
</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="f" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Darreichungsform Code

Beschreibung: Darreichungsform als IFA Code

Befüllung / Format: nach Anhang 3

Validitätskriterium: Die Attribute f und fd dürfen nicht gleichzeitig angegeben werden.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="3"/>
												<xs:pattern value="[A-Z]{3}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="fd" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Darreichungsform Freitext

Beschreibung: Darreichungsform als Freitext, entweder definiert oder fehlend (dann bei Ausdruck ggf. aus PZN abgeleitet)

Befüllung / Format: Freitext

Validitätskriterium: Die Attribute f und fd dürfen nicht gleichzeitig angegeben werden.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="7"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="m" type="dosierungTyp" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Dosierschema morgens

Beschreibung: Dosierung als 4-teiliges Schema (morgens)

Befüllung / Format: Wenn nicht angegeben = "0"

Validitätskriterium: Die Attribute m und t dürfen nicht gleichzeitig angegeben werden.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="d" type="dosierungTyp" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Dosierschema mittags

Beschreibung: Dosierung als 4-teiliges Schema (mittags)

Befüllung / Format: Wenn nicht angegeben = "0"

Validitätskriterium: Die Attribute d und t dürfen nicht gleichzeitig angegeben werden.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="v" type="dosierungTyp" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Dosierschema abends

Beschreibung: Dosierung als 4-teiliges Schema (abends)

Befüllung / Format: Wenn nicht angegeben = "0"

Validitätskriterium: Die Attribute v und t dürfen nicht gleichzeitig angegeben werden.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="h" type="dosierungTyp" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Dosierschema zur Nacht

Beschreibung: Dosierung als 4-teiliges Schema (zur Nacht)

Befüllung / Format: Wenn nicht angegeben = "0"

Validitätskriterium: Die Attribute h und t dürfen nicht gleichzeitig angegeben werden.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="t" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Dosierschema Freitext

Beschreibung: Freitextdosierung

Befüllung / Format: Freitext

Validitätskriterium: Das Attribut t darf nicht gleichzeitig mit den Attributen m, d, v und h angegeben werden.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="du" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Dosiereinheit codiert

Beschreibung: Dosiereinheit als Code

Befüllung / Format: nach Anhang 4

Validitätskriterium: Die Attribute du und dud dürfen nicht gleichzeitig angegeben werden.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value="[#0-9a-v]"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="dud" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Dosiereinheit Freitext

Beschreibung: Dosiereinheit als Freitext

Befüllung / Format: Freitext

Validitätskriterium: Die Attribute du und dud dürfen nicht gleichzeitig angegeben werden.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="2"/>
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="i" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Hinweise

Beschreibung: Hinweise zur Anwendung, Lagerung, Einnahme, etc.

Befüllung / Format: Freitext, maximal ein manueller Umbruch kann mit einer Tilde ("~") gekennzeichnet werden

Validitätskriterium: Das Attribut i darf nicht mehr als ein Tildezeichen enthalten ("~").</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="80"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="r" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Behandlungsgrund

Beschreibung: Grund für die Behandlung mit der Medikation in patiententauglicher Form

Befüllung / Format: Freitext, maximal ein manueller Umbruch kann mit einer Tilde ("~") gekennzeichnet werden

Validitätskriterium: Das Attribut r darf nicht mehr als ein Tildezeichen enthalten ("~").</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="x" use="optional">
										<xs:annotation>
											<xs:documentation>Name: gebundene Zusatzzeile

Beschreibung: Freitextzeile, die sich auf diese Medikation bezieht, ergänzende Informationen zur Dosierung oder weitergehende Hinweise, die in den Feldern des Medikationseintrages nicht untergebracht werden können

Befüllung / Format: Freitext, maximal ein manueller Umbruch kann mit einer Tilde ("~") gekennzeichnet werden

Validitätskriterium: Das Attribut x darf nicht mehr als ein Tildezeichen enthalten ("~").</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="200"/>
												<xs:minLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="X">
								<xs:annotation>
									<xs:documentation>Freitextzeile</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="t" use="required">
										<xs:annotation>
											<xs:documentation>Name: Freitext

Beschreibung: Text ohne Bezug zu einem Medikationseintrag

Befüllung / Format: Freitext, maximal ein manueller Umbruch kann mit einer Tilde ("~") gekennzeichnet werden

Validitätskriterium: Das Attribut t darf nicht mehr als 1 Tildezeichen enthalten ("~").</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="200"/>
												<xs:minLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="R">
								<xs:annotation>
									<xs:documentation>Rezeptur</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="t" use="required">
										<xs:annotation>
											<xs:documentation>Name: Freitext

Beschreibung: Text ohne Bezug zu einem Medikationseintrag

Befüllung / Format: Freitext, maximal ein manueller Umbruch kann mit einer Tilde ("~") gekennzeichnet werden

Validitätskriterium: Das Attribut t darf nicht mehr als 1 Tildezeichen enthalten ("~").</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="200"/>
												<xs:minLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="x" use="optional">
										<xs:annotation>
											<xs:documentation>Name: gebundene Zusatzzeile

Beschreibung: Freitextzeile, die sich auf diese Medikation bezieht, ergänzende Informationen zur Dosierung oder weitergehende Hinweise, die in den Feldern des Medikationseintrages nicht untergebracht werden können

Befüllung / Format: Freitext, maximal ein manueller Umbruch kann mit einer Tilde ("~") gekennzeichnet werden

Validitätskriterium: Das Attribut x darf nicht mehr als ein Tildezeichen enthalten ("~").</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="200"/>
												<xs:minLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:choice>
						<xs:attribute name="t" use="optional">
							<xs:annotation>
								<xs:documentation>Freitextzwischenüberschrift: @t und @c DARF NICHT gleichzeitig angegeben werden.
Ab dem 2. Block muss entweder @t oder @c gewählt werden.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="c" use="optional">
							<xs:annotation>
								<xs:documentation>Zwischenüberschrift (Codes siehe Dokumentation); @t und @c DARF NICHT gleichzeitig angegeben werden</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="411">
										<xs:annotation>
											<xs:documentation>Bedarfsmedikation</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="412">
										<xs:annotation>
											<xs:documentation>Dauermedikation</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="413">
										<xs:annotation>
											<xs:documentation>Intramuskuläre Anwendung</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="414">
										<xs:annotation>
											<xs:documentation>Besondere Anwendung</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="415">
										<xs:annotation>
											<xs:documentation>Intravenöse Anwendung</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="416">
										<xs:annotation>
											<xs:documentation>Anwendung unter die Haut</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="417">
										<xs:annotation>
											<xs:documentation>Fertigspritze</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="418">
										<xs:annotation>
											<xs:documentation>Selbstmedikation</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="419">
										<xs:annotation>
											<xs:documentation>Allergiehinweise</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="421">
										<xs:annotation>
											<xs:documentation>Wichtige Hinweise</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="422">
										<xs:annotation>
											<xs:documentation>Wichtige Angaben</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="423">
										<xs:annotation>
											<xs:documentation>zu besonderen Zeiten anzuwendende Medikamente</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="424">
										<xs:annotation>
											<xs:documentation>zeitlich befristet anzuwendende Medikamente</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="v" use="required" fixed="026">
				<xs:annotation>
					<xs:documentation>Name: Versionsnummer

Beschreibung: Versionsnummer des bundeseinheitlichen Medikationsplans (BMP)

Befüllung/Format: xxy</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
						<xs:pattern value="\d*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="p" use="prohibited">
				<xs:annotation>
					<xs:documentation>Name: Patchnummer 

Beschreibung: Patchnummer des zugrunde liegenden BMP (zusätzlich zum Attribut Version)

Befüllung / Format: Bei jeder neuen Version ist initial das Attribut Patch-Version leer. Mit dem ersten Patch wird der Patch auf 0 gesetzt und mit jedem weiteren Patch um 1 hochgezählt.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="U" use="required">
				<xs:annotation>
					<xs:documentation>Name: Instanz-ID

Beschreibung: Weltweit eindeutige Instanz-ID zur Identifikation eines BMP-Ausdrucks

Befüllung / Format: GUID - Global Unique Identifier (gleich für alle Seiten des BMP)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="32"/>
						<xs:pattern value="[A-F0-9]{32}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="a" use="optional">
				<xs:annotation>
					<xs:documentation>Name: Seitenzahl 

Beschreibung: aktuelle Seite des BMP

Validierungskritieren: mit 1 startend; muss bei mehrseitigen Plänen verwendet weden. Bei einseitigem Plan muss es weggelassen werden.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="z" use="optional">
				<xs:annotation>
					<xs:documentation>Name: Gesamtseitenzahl

Beschreibung: Gesamtseitenzsahl des BMP

Validierungskriterien: Muss bei mehrseitigen Plänen verwendet weden. Bei einseitigem Plan muss es weggelassen werden.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="2"/>
						<xs:maxInclusive value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="l" use="required" fixed="de-DE">
				<xs:annotation>
					<xs:documentation>Name: Sprach- / Länderkennzeichen

Beschreibung: Sprachkennzeichen und Länderkennzeichen

Befüllung / Format: Sprach- und Länderkennzeichen werden mit ISO-Werten getrennt durch Bindestrich ("-") angegeben</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="dosierungTyp">
		<xs:annotation>
			<xs:documentation>Dosierung</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([1-9]\d{0,3})|([1-9]\d,\d)|(\d,\d{1,2})|1/8|1/2|2/3|1/3|1/4|3/4"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
