public/xsd/bmp_V2.4.1_en.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	Bundeseinheitlicher Medikationsplan (BMP) (bmp_V2.4.1.xsd)
	26. Juni 2017, Version 2.4.1

	verantwortliche Organisationen KBV, DAV und BÄK

    basierend auf Medikationsplan Ultrakurzformat (UKF)
    
    In Zusammenarbeit mit:    
    Bundesverband Deutscher Apothekensoftwarehäuser (ADAS e.V.)
    Bundesverband Gesundheits-IT e.V. (bvitg e.V.)
    HL7 Deutschland e.V.
    
    @claudiu 29.08.2017 
    translated descriptions via google
    
	Bundse-uniform drug plan (BMP) (bmp_V2.4.1.xsd)
	June 26, 2017, version 2.4.1

	Responsible organizations KBV, DAV and BÄK

    Based on the Ultra Short Form (UKF)
    
    In collaboration with:
    Federal Association of German Pharmacy Software Houses (ADAS e.V.)
    Federal Association of Health IT (bvitg e.V.)
    HL7 Germany e.V.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified" version="2.4">
	<xs:annotation>
		<xs:documentation xml:lang="en">(BMP) (bmp_V2.4.1.xsd) of June 26, 2017, version 2.4.1 based on the drug plan Ultra-short format (UKF) In cooperation with: Federal Association of German Pharmacopoeia Software Houses (ADAS eV), Federal Association of Health IT (bvitg eV) , HL7 Germany eV</xs:documentation>
	</xs:annotation>
	<xs:element name="MP">
		<xs:annotation>
			<xs:documentation>Bundse-uniform drug plan according to § 31a (SGB V)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="P">
					<xs:annotation>
						<xs:documentation>Patient</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="g" use="required">
							<xs:annotation>
								<xs:documentation>Name: Vorname

Beschreibung: Vorname des Versicherten

Name first Name
Description: First name of the insured</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="45"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="f" use="required">
							<xs:annotation>
								<xs:documentation>Name: Nachname

Beschreibung: Nachname des Versicherten

Name surname
Description: Last name of the insured</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="45"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="egk" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Versicherten-ID

Beschreibung: Die Versicherten-ID ist der 10-stellige unveränderliche Teil der 30-stelligen Krankenversichertennummer.

Befüllung / Format: analog VSDM, A000000000

Name: Insured ID
Description: The insured ID is the 10-digit invariable part of the 30-digit health insurance number.
Filling / Format: analog VSDM, A000000000</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="10"/>
									<xs:pattern value="[A-Z]\d{9}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="b" use="required">
							<xs:annotation>
								<xs:documentation>Name: Geburtsdatum

Beschreibung: Geburtsdatum des Versicherten - Das Geburtsjahr muss immer gefüllt werden. Bei Inländern ist immer ein logisch richtiges Geburtsdatum anzugeben. Bei Ausländern gilt folgendes: Zumindest das Geburtsjahr ist immer anzugeben. Im Geburtstag oder im Geburtstag und im Geburtsmonat ist bei Ausländern "00" bzw. "0000" zulässig, wenn der Geburtstag und der Geburtsmonat nicht zu ermitteln sind.

Befüllung / Format: analog VSDM, YYYYMMDD (ISO-8601)

Name: Date of birth
Description: Date of birth of the insured - The year of birth must always be filled. In the case of nationals, a logically correct date of birth must always be given. The following applies to foreigners: At least the year of birth must always be indicated. In the case of a foreigner, "00" or "0000" is permissible on the birthday or in the birthday and in the month of birth, if the birthday and the birth month can not be determined.
Filling / Format: analog VSDM, YYYYMMDD (ISO-8601)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="8"/>
									<xs:pattern value="\d{4}(0[0-9]|1[012])(0[0-9]|[12][0-9]|3[01])"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="s" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Geschlecht

Beschreibung: Administrative Geschlecht des Versicherten 

Befüllung / Format: analog VSDM, "M" = männlich, "W" = weiblich, "X" = unbestimmt

Name: Sex
Description: Administrative sex of the insured
Filling / Format: analog VSDM, "M" = male, "W" = female, "X" = undefined</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="1"/>
									<xs:pattern value="[A-Z]"/>
									<xs:enumeration value="M">
										<xs:annotation>
											<xs:documentation>männlich male</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="W">
										<xs:annotation>
											<xs:documentation>weiblich Female</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="X">
										<xs:annotation>
											<xs:documentation>unbestimmt undetermined</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="t" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Titel

Beschreibung: Gibt die akademischen Grade des Versicherten an. Mehrere Titel werden durch Leerzeichen getrennt angegeben.

Befüllung / Format: analog VSDM

Name: Title
Description: Indicates the academic degrees of the insured. Multiple titles are separated by spaces.
Filling / Format: analog VSDM</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="v" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Vorsatzwort

Beschreibung: Gibt die Vorsatzwörter des Versicherten an. Mehrere Vorsatzwörter werden durch Leerzeichen getrennt angegeben.

Befüllung / Format: analog VSDM, Anlage 6 (Tabelle der gültigen Vorsatzworte) zur DEÜV, siehe www.gkv-datenaustausch.de/arbeitgeber/deuev/gemeinsame_rundschreiben/gemeinsame_rundschreiben.jsp			

Name: Preface
Description: Specifies the prefix words of the insured. Multiple prefix words are separated by spaces.
Filling / Format: similar to VSDM, Annex 6 (table of the valid prefix words) to DEUEV, see www.gkv-datenaushandel.de/arbeiter/deuev/gemeinsame_rundschreiben/gemeinsame_rundschreiben.jsp</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="z" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Namenszusatz

Beschreibung. Gibt die Namenszusätze des Versicherten an, z. B.: Freiherr. Mehrere Namenzusätze werden durch Leerzeichen getrennt angegeben.

Befüllung / Format: analog VSDM, Anlage 7 (Tabelle der gültigen Namenszusätze) zur DEÜV, siehe www.gkv-datenaustausch.de/arbeitgeber/deuev/gemeinsame_rundschreiben/gemeinsame_rundschreiben.jsp

Name: Name sufix
Description. Specifies the name of the insured person, For example: Freiherr. Multiple naming propositions are separated by spaces.
Filling / Format: similar to VSDM, Annex 7 (table of valid name additions) to DEUEV, see www.gkv-datenaushandel.de/arbeiter/deuev/gemeinsame_rundschreiben/gemeinsame_rundschreiben.jsp</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="20"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="A">
					<xs:annotation>
						<xs:documentation>Ausdruckender des Medikationsplans

Printout of the drug plan</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="lanr" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Lebenslange Arztnummer

Beschreibung: Lebenslange Identifikationsnummer eines Arztes

Befüllung / Format: 9-stellige Nummer

Validitätskriterium: Es darf maximal eines der drei Attribute lanr, idf und kik vorhanden sein.


Name: Lifetime doctor's number
Description: Lifetime identification number of a physician
Filling / Format: 9-digit number
Validity criterion: A maximum of one of the three attributes lanr, idf and kik can be present.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="9"/>
									<xs:pattern value="\d{9}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="idf" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Apothken-IDF

Beschreibung: Identifikationsnummer einer Apotheke

Befüllung / Format: 7-stellige Nummer

Validitätskriterium: Es darf maximal eines der drei Attribute lanr, idf und kik vorhanden sein.


Name: Apothken-IDF
Description: Identification number of a pharmacy
Filling / Format: 7-digit number
Validity criterion: A maximum of one of the three attributes lanr, idf and kik can be present.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="7"/>
									<xs:pattern value="\d{7}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="kik" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Krankenhaus-IK

Beschreibung: Institutionskennzeichen Krankenhaus

Befüllung / Format: 9-stellige Nummer

Validitätskriterium: Es darf maximal eines der drei Attribute lanr, idf und kik vorhanden sein.

Name: Hospital-IK
Description: Institutional label hospital
Filling / Format: 9-digit number
Validity criterion: A maximum of one of the three attributes lanr, idf and kik can be present.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="9"/>
									<xs:pattern value="\d{9}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="n" use="required">
							<xs:annotation>
								<xs:documentation>Name: Name

Beschreibung: Bezeichnung der Instanz, die den BMP ausgedruck hat, Leistungserbringer oder Organisationseinheit, (Arztpraxis, Krankenhaus/Station, Zahnarztpraxis, psychotherapeutische Praxis, Apotheke)

Befüllung / Format: Freitext

Name: Name
Description: Name of the authority which has printed the BMP, service provider or organizational unit, (doctor's office, hospital / ward, dental practice, psychotherapeutic practice, pharmacy)
Filling / Format: Freitext</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="80"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="s" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Straße

Beschreibung: Straße mit Hausnummer als Teil der Adresse der Instanz, die den BMP ausgedruck hat

Befüllung / Format: Freitext

Name: Street
Description: Street with house number as part of the address of the instance that has the BMP printed
Filling / Format: Freitext</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="z" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Postleitzahl

Beschreibung: PLZ als Teil der Adresse der Instanz, die den BMP ausgedruckt hat

Befüllung / Format: 5-stellige Nummer (Werte des PLZ-Katalogs der Deutschen Post)

Name: Postal code
Description: ZIP as part of the address of the instance that has printed the BMP
Filling / Format: 5-digit number (values ​​of the postal code catalog of the Deutsche Post)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="5"/>
									<xs:pattern value="\d{5}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="c" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Ort

Beschreibung: Ort als Teil der Adresse der Instanz, die den BMP ausgedruckt hat

Befüllung / Format: Freitext

Name: Place
Description: Location as part of the address of the instance that has printed the BMP
Filling / Format: Freitext</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="p" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Telefon

Beschreibung: Telefonnummer der Instanz, die den BMP ausgedruckt hat

Befüllung / Format: Freitext


Name: Telephone
Description: Phone number of the instance that has printed the BMP
Filling / Format: Freitext</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="e" use="optional">
							<xs:annotation>
								<xs:documentation>Name: E-Mail

Beschreibung: E-Mail der Instanz, die den BMP ausgedruckt hat

Befüllung / Format: Freitext


Name: E-mail
Description: E-mail of the instance that has printed the BMP
Filling / Format: Freitext</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="80"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="t" use="required">
							<xs:annotation>
								<xs:documentation>Name: Ausdruckdatum 

Beschreibung: Ausdruckdatum - Datum und Uhrzeit der letzten Änderung des Medikationsplans 

Befüllung / Format: YYYY-MM-DDThh:mm:ss

Name: Print date
Description: Print date - the date and time of the last change of the medication plan
Filling / Format: YYYY-MM-DDThh: mm: ss</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:dateTime">
									<xs:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="O">
					<xs:annotation>
						<xs:documentation>Parameter, die 3 Druck-Parameterzeilen werden aus Geschlecht sowie den hier angegebenen optionalen Attributen sinnvoll in der Reihenfolge befüllt: Allerg./Unv.:, schwanger, stillend, Gew.:, Größe:, Krea.:, Geschl.:, Freitext. Nach jeweils max. 25 Zeichen pro Zeile muss ein Umbruch erfolgen. Wenn die 3 Zeilen für die Anzeige nicht ausreichen, endet die 3. Zeile mit "..."

Parameters, the 3 pressure parameter lines are filled from sex as well as the optional attributes given here meaningfully in the order: Allerg./Unv.:, Pregnant, breastfeeding, Weight:, Size :, Krea.:, Geschl .:, Freitext. After each max. 25 characters per line must be broken. If the 3 lines for the display are not enough, the 3rd line ends with "..."</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="ai" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Allergien und Unverträglichkeiten

Beschreibung: Zusätzliche Allergien und Unverträglichkeiten

Befüllung / Format: Freitext

Name: allergies and intolerances
Description: Additional allergies and intolerances
Filling / Format: Freitext</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="p" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Schwanger

Beschreibung: Kennzeichen zur Schangerschaft

Befüllung / Format: Wenn eine Schwangerschaft vorliegt, wird das Attribut angegeben (p="1"). Ansonsten wird das Attribut weggelassen. Dies bedeutet, dass keine Aussage über eine Schwangerschaft möglich ist.

Name: Pregnant
Description: Signs of pregnancy
Filling / Format: When a pregnancy occurs, the attribute is specified (p = "1"). Otherwise, the attribute is omitted. This means that no statement about pregnancy is possible.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="1"/>
									<xs:enumeration value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="b" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Stillend

Beschreibung: Kennzeichen Stillend

Befüllung / Format: Wenn die Versicherte stillend ist, wird das Attribut angegeben (b="1"). Ansonsten wird das Attribut weggelassen. Dies bedeutet, dass keine Aussgage zum Stillen möglich ist.

Name: Breastfeeding
Description: Characteristics breastfeeding
Filling / Format: If the insured person is breastfeeding, the attribute is indicated (b = "1"). Otherwise, the attribute is omitted. This means that there is no possibility to breastfeed.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="1"/>
									<xs:enumeration value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="w" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Gewicht

Beschreibung: Gewicht des Versicherten

Befüllung / Format: kg

Name: Weight
Description: Weight of the insured
Filling / Format: kg</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:fractionDigits value="1"/>
									<xs:maxInclusive value="999"/>
									<xs:minExclusive value="0"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="h" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Größe

Beschreibung: Körpergröße des Versicherten

Befüllung / Format: cm

Name: Size
Description: Body size of the insured
Filling / Format: cm</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:int">
									<xs:minInclusive value="10"/>
									<xs:maxInclusive value="299"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="c" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Kreatininwert

Beschreibung: Kreatininwert des Versicherten

Befüllung / Format: mg/dl

Name: creatinine
Description: Creatinine value of the insured
Filling / Format: mg / dl</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:fractionDigits value="2"/>
									<xs:minInclusive value="0"/>
									<xs:maxExclusive value="10"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="x" use="optional">
							<xs:annotation>
								<xs:documentation>Name: Parameterfreitext

Beschreibung: Ergänzung von Parametern

Befüllung / Format: Freitext, maximal 2 manuelle Umbrüche können jeweils mit einer Tilde ("~") gekennzeichnet werden

Validitätskriterium: Das Attribut x darf nicht mehr als 2 Tildezeichen enthalten ("~").

Name: Parameter free text
Description: Addition of parameters
Filling / Format: Freitext, a maximum of 2 manual breaks can be marked with a tilde ("~")
Validity criterion: The attribute x can not contain more than 2 tilde characters ("~").</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="77"/>
									<xs:minLength value="1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="S" minOccurs="0" maxOccurs="23">
					<xs:annotation>
						<xs:documentation>Blöcke ggf. mit Überschrift (Gruppierungen von Medikationseinträgen)

Blocks with headings (groupings of medication entries)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:choice maxOccurs="45">
							<xs:element name="M">
								<xs:annotation>
									<xs:documentation>Medikation

Mindestanforderung: mindestens ein Attribut oder Wirkstoff muss angegeben sein.

Validitätskriterium: Falls für eine Medikation eine PZN angegeben ist, so sind die anhand der PZN aus einer Arzneimitteldatenbank ableitbaren Attribute (inklusive Wirkstoffe) nicht anzugeben, außer Sie sind vom Anwender manuell anders erfasst.

medication
Minimum requirement: at least one attribute or active substance must be indicated.
Validity criterion: If a PZN is indicated for a medication, the attributes (including active substances) derivable from a drug database can not be specified, unless you are manually entered by the user.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="W" minOccurs="0" maxOccurs="3">
											<xs:annotation>
												<xs:documentation>Wirkstoff; 
Es wird, wenn eine Änderung an den Wirkstoffen vorgenommen wird, keine Ableitung aus der PZN mehr durchgeführt, sondern die Wirkstoffe direkt in den Carrier geschrieben.

active ingredient;
When a change is made to the active substances, no derivation from the PZN is carried out, but the active substances are written directly into the carrier.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attribute name="w" use="required">
													<xs:annotation>
														<xs:documentation>Name: Wirkstoff

Beschreibung: Bezeichnung eines Wirkstoffes

Befüllung / Format: Freitext

Name: Active ingredient
Description: Name of an active substance
Filling / Format: Freitext</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="80"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="s" use="optional">
													<xs:annotation>
														<xs:documentation>Name: Wirkstärke Freitext

Beschreibung: Bezeichnung der Wirkstärke

Befüllung / Format: Freitext

Name: Effective Thickness
Description: Description of the active strength
Filling / Format: Freitext</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="15"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="p" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Modifizierte PZN

Beschreibung: Pharmazentralnummer einer Fertigarzneimittelpackung

Name: Modified PZN


Name: Modified PZN
Description: Pharmacentral number of a finished drug package
Name: Modified PZN
</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction
												base="xs:int">
												<xs:maxInclusive
													value="99999999" />
												<xs:minInclusive
													value="1" />
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="a" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Arzneimittelname

Beschreibung: Freitextliche Bezeichnung eines Fertigarzneimittels (Handelsname)

Name: Drug Name

Name: Drug Name
Description: Freely expressive name of a finished medicinal product (trade name)
Name: Drug name
</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="f" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Darreichungsform Code

Beschreibung: Darreichungsform als IFA Code

Befüllung / Format: nach Anhang 3

Validitätskriterium: Die Attribute f und fd dürfen nicht gleichzeitig angegeben werden.

Name: Pharmaceutical code
Description: Dosage form as IFA code
Filling / Format: according to Annex 3
Validity criterion: The attributes f and fd can not be specified simultaneously.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="3"/>
												<xs:pattern value="[A-Z]{3}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="fd" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Darreichungsform Freitext

Beschreibung: Darreichungsform als Freitext, entweder definiert oder fehlend (dann bei Ausdruck ggf. aus PZN abgeleitet)

Befüllung / Format: Freitext

Validitätskriterium: Die Attribute f und fd dürfen nicht gleichzeitig angegeben werden.

Name: Dosage form Free text
Description: Dosage form as free text, either defined or missing (then derived from PZN in the case of expression)
Filling / Format: Freitext
Validity criterion: The attributes f and fd can not be specified simultaneously.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="7"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="m" type="dosierungTyp" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Dosierschema morgens

Beschreibung: Dosierung als 4-teiliges Schema (morgens)

Befüllung / Format: Wenn nicht angegeben = "0"

Validitätskriterium: Die Attribute m und t dürfen nicht gleichzeitig angegeben werden.

Name: Dosing schedule in the morning
Description: Dosage as 4-part scheme (morning)
Filling / Format: If not specified = "0"
Validity criterion: The attributes m and t can not be specified simultaneously.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="d" type="dosierungTyp" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Dosierschema mittags

Beschreibung: Dosierung als 4-teiliges Schema (mittags)

Befüllung / Format: Wenn nicht angegeben = "0"

Validitätskriterium: Die Attribute d und t dürfen nicht gleichzeitig angegeben werden.

Name: Dosing schedule at noon
Description: 4-part dosage (noon)
Filling / Format: If not specified = "0"
Validation criterion: The attributes d and t can not be specified at the same time.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="v" type="dosierungTyp" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Dosierschema abends

Beschreibung: Dosierung als 4-teiliges Schema (abends)

Befüllung / Format: Wenn nicht angegeben = "0"

Validitätskriterium: Die Attribute v und t dürfen nicht gleichzeitig angegeben werden.

Name: Dosage scheme in the evening
Description: 4-part dosage (evening)
Filling / Format: If not specified = "0"
Validity criterion: The attributes v and t can not be specified simultaneously.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="h" type="dosierungTyp" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Dosierschema zur Nacht

Beschreibung: Dosierung als 4-teiliges Schema (zur Nacht)

Befüllung / Format: Wenn nicht angegeben = "0"

Validitätskriterium: Die Attribute h und t dürfen nicht gleichzeitig angegeben werden.

Name: Dosage scheme for the night
Description: Dosage as 4-part scheme (at night)
Filling / Format: If not specified = "0"
Validation criterion: The attributes h and t can not be specified at the same time.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="t" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Dosierschema Freitext

Beschreibung: Freitextdosierung

Befüllung / Format: Freitext

Validitätskriterium: Das Attribut t darf nicht gleichzeitig mit den Attributen m, d, v und h angegeben werden.

Name: Dosing Scheme Freitext
Description: Freitext dosing
Filling / Format: Freitext
Validity criterion: The attribute t can not be specified simultaneously with the attributes m, d, v, and h.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="du" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Dosiereinheit codiert

Beschreibung: Dosiereinheit als Code

Befüllung / Format: nach Anhang 4

Validitätskriterium: Die Attribute du und dud dürfen nicht gleichzeitig angegeben werden. Falls eine Dosierung (als Schema oder Freitext) angegeben ist, muss eines der beiden Attribute du und dud ebenfalls angegeben werden.

Name: Dosing unit coded
Description: Dosing unit as code
Filling / Format: according to Annex 4
Validity criterion: The attributes du and dud must not be specified at the same time. If a dosage (as a schema or a free text) is specified, one of the two attributes du and dud must also be specified.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value="[#0-9a-v]"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="dud" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Dosiereinheit Freitext

Beschreibung: Dosiereinheit als Freitext

Befüllung / Format: Freitext

Validitätskriterium: Die Attribute du und dud dürfen nicht gleichzeitig angegeben werden. Falls eine Dosierung (als Schema oder Freitext) angegeben ist, muss eines der beiden Attribute du und dud ebenfalls angegeben werden.

Name: Dosing unit Freitext
Description: Dosing unit as free text
Filling / Format: Freitext
Validity criterion: The attributes du and dud must not be specified at the same time. If a dosage (as a schema or a free text) is specified, one of the two attributes du and dud must also be specified.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="2"/>
												<xs:maxLength value="20"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="i" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Hinweise

Beschreibung: Hinweise zur Anwendung, Lagerung, Einnahme, etc.

Befüllung / Format: Freitext, maximal ein manueller Umbruch kann mit einer Tilde ("~") gekennzeichnet werden

Validitätskriterium: Das Attribut i darf nicht mehr als ein Tildezeichen enthalten ("~").

Name: Notes
Description: Instructions for use, storage, ingestion, etc.
Filling / Format: Freitext, maximum of a manual break can be marked with a tilde ("~")
Validity Criterion: The i attribute must not contain more than one tilde character ("~").</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="80"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="r" use="optional">
										<xs:annotation>
											<xs:documentation>Name: Behandlungsgrund

Beschreibung: Grund für die Behandlung mit der Medikation in patiententauglicher Form

Befüllung / Format: Freitext, maximal ein manueller Umbruch kann mit einer Tilde ("~") gekennzeichnet werden

Validitätskriterium: Das Attribut r darf nicht mehr als ein Tildezeichen enthalten ("~").

Name: Reason for treatment
Description: Reason for the treatment with the medication in patientauglich form
Filling / Format: Freitext, maximum of a manual break can be marked with a tilde ("~")
Validity criterion: The attribute r must not contain more than one tilde character ("~").</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="50"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="x" use="optional">
										<xs:annotation>
											<xs:documentation>Name: gebundene Zusatzzeile

Beschreibung: Freitextzeile, die sich auf diese Medikation bezieht, ergänzende Informationen zur Dosierung oder weitergehende Hinweise, die in den Feldern des Medikationseintrages nicht untergebracht werden können

Befüllung / Format: Freitext, maximal ein manueller Umbruch kann mit einer Tilde ("~") gekennzeichnet werden

Validitätskriterium: Das Attribut x darf nicht mehr als ein Tildezeichen enthalten ("~").

Name: bound additional line
Description: Freitex line, which refers to this medication, supplemental information on dosage or further indications, which can not be accommodated in the fields of the medication entry
Filling / Format: Freitext, maximum of a manual break can be marked with a tilde ("~")
Validity Criterion: The attribute x can not contain more than one tilde character ("~").</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="200"/>
												<xs:minLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="X">
								<xs:annotation>
									<xs:documentation>Freitextzeile

Free text line</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="t" use="required">
										<xs:annotation>
											<xs:documentation>Name: Freitext

Beschreibung: Text ohne Bezug zu einem Medikationseintrag

Befüllung / Format: Freitext, maximal ein manueller Umbruch kann mit einer Tilde ("~") gekennzeichnet werden

Validitätskriterium: Das Attribut t darf nicht mehr als 1 Tildezeichen enthalten ("~").

Name: Freitext
Description: Text without reference to a medication entry
Filling / Format: Freitext, maximum of a manual break can be marked with a tilde ("~")
Validity Criterion: The t attribute must not contain more than 1 tilde character ("~").</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="200"/>
												<xs:minLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="R">
								<xs:annotation>
									<xs:documentation>Rezeptur

recipe</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="t" use="required">
										<xs:annotation>
											<xs:documentation>Name: Freitext

Beschreibung: Text ohne Bezug zu einem Medikationseintrag

Befüllung / Format: Freitext, maximal ein manueller Umbruch kann mit einer Tilde ("~") gekennzeichnet werden

Validitätskriterium: Das Attribut t darf nicht mehr als 1 Tildezeichen enthalten ("~").

Name: Freitext
Description: Text without reference to a medication entry
Filling / Format: Freitext, maximum of a manual break can be marked with a tilde ("~")
Validity Criterion: The t attribute must not contain more than 1 tilde character ("~").</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="200"/>
												<xs:minLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="x" use="optional">
										<xs:annotation>
											<xs:documentation>Name: gebundene Zusatzzeile

Beschreibung: Freitextzeile, die sich auf diese Medikation bezieht, ergänzende Informationen zur Dosierung oder weitergehende Hinweise, die in den Feldern des Medikationseintrages nicht untergebracht werden können

Befüllung / Format: Freitext, maximal ein manueller Umbruch kann mit einer Tilde ("~") gekennzeichnet werden

Validitätskriterium: Das Attribut x darf nicht mehr als ein Tildezeichen enthalten ("~").

Name: bound additional line
Description: Freitex line, which relates to this medication, supplementary information on dosage or further indications, which can not be accommodated in the fields of the medication entry
Filling / Format: Freitext, maximum of a manual break can be marked with a tilde ("~")
Validity Criterion: The attribute x can not contain more than one tilde character ("~").</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:maxLength value="200"/>
												<xs:minLength value="1"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:choice>
						<xs:attribute name="t" use="optional">
							<xs:annotation>
								<xs:documentation>Freitextzwischenüberschrift: @t und @c DARF NICHT gleichzeitig angegeben werden.
Ab dem 2. Block muss entweder @t oder @c gewählt werden.

Free text intermediate heading: @t and @c MAY NOT be specified at the same time.
From the second block, you must select either @t or @c.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="c" use="optional">
							<xs:annotation>
								<xs:documentation>Zwischenüberschrift (Codes siehe Dokumentation); @t und @c DARF NICHT gleichzeitig angegeben werden

Intermediate heading (see documentation for codes); @t and @c CAN NOT be specified at the same time</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="411">
										<xs:annotation>
											<xs:documentation>Bedarfsmedikation</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="412">
										<xs:annotation>
											<xs:documentation>Dauermedikation</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="413">
										<xs:annotation>
											<xs:documentation>Intramuskuläre Anwendung</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="414">
										<xs:annotation>
											<xs:documentation>Besondere Anwendung</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="415">
										<xs:annotation>
											<xs:documentation>Intravenöse Anwendung</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="416">
										<xs:annotation>
											<xs:documentation>Anwendung unter die Haut</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="417">
										<xs:annotation>
											<xs:documentation>Fertigspritze</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="418">
										<xs:annotation>
											<xs:documentation>Selbstmedikation</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="419">
										<xs:annotation>
											<xs:documentation>Allergiehinweise</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="421">
										<xs:annotation>
											<xs:documentation>Wichtige Hinweise</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="422">
										<xs:annotation>
											<xs:documentation>Wichtige Angaben</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="423">
										<xs:annotation>
											<xs:documentation>zu besonderen Zeiten anzuwendende Medikamente</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="424">
										<xs:annotation>
											<xs:documentation>zeitlich befristet anzuwendende Medikamente</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="v" use="required" fixed="024">
				<xs:annotation>
					<xs:documentation>Name: Versionsnummer

Beschreibung: Versionsnummer des bundeseinheitlichen Medikationsplans (BMP)

Befüllung/Format: xxy

Name: Version number
Description: Version number of the German National Drug Administration (BMP)
Filling / Format: xxy</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
						<xs:pattern value="\d*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="p" use="prohibited">
				<xs:annotation>
					<xs:documentation>Name: Patchnummer 

Beschreibung: Patchnummer des zugrunde liegenden BMP (zusätzlich zum Attribut Version)

Befüllung / Format: Bei jeder neuen Version ist initial das Attribut Patch-Version leer. Mit dem ersten Patch wird der Patch auf 0 gesetzt und mit jedem weiteren Patch um 1 hochgezählt.

Name:  Patchnummer ,
Description: Pathnumber of the underlying BMP (in addition to the version attribute)
Filling / Format: For each new version, the patch version is initially empty. With the first patch, the patch is set to 0 and incremented by 1 with each additional patch.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="U" use="required">
				<xs:annotation>
					<xs:documentation>Name: Instanz-ID

Beschreibung: Weltweit eindeutige Instanz-ID zur Identifikation eines BMP-Ausdrucks

Befüllung / Format: GUID - Global Unique Identifier (gleich für alle Seiten des BMP)

Name: Instance ID
Description: Worldwide unique instance ID for the identification of a BMP expression
Filling / Format: GUID - Global Unique Identifier (same for all pages of the BMP)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="32"/>
						<xs:pattern value="[A-F0-9]{32}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="a" use="optional">
				<xs:annotation>
					<xs:documentation>Name: Seitenzahl 

Beschreibung: aktuelle Seite des BMP

Validierungskritieren: mit 1 startend; muss bei mehrseitigen Plänen verwendet weden. Bei einseitigem Plan muss es weggelassen werden.

Name: Number of pages
Description: Current page of the BMP
Validation Criteria: starting with 1; Must be used for multi-page layouts. For a one-sided plan, it must be omitted.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="1"/>
						<xs:maxInclusive value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="z" use="optional">
				<xs:annotation>
					<xs:documentation>Name: Gesamtseitenzahl

Beschreibung: Gesamtseitenzsahl des BMP

Validierungskriterien: Muss bei mehrseitigen Plänen verwendet weden. Bei einseitigem Plan muss es weggelassen werden.

Name: Total number of guests
Description: Total number of BMP
Validation criteria: Must be used for multi-page plans. For a one-sided plan, it must be omitted.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="2"/>
						<xs:maxInclusive value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="l" use="required" fixed="de-DE">
				<xs:annotation>
					<xs:documentation>Name: Sprach- / Länderkennzeichen

Beschreibung: Sprachkennzeichen und Länderkennzeichen

Befüllung / Format: Sprach- und Länderkennzeichen werden mit ISO-Werten getrennt durch Bindestrich ("-") angegeben

Name: Language / Country Indicator
Description: Language and country code
Filling / Format: Language and country codes are indicated with ISO values ​​separated by hyphen ("-")</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="dosierungTyp">
		<xs:annotation>
			<xs:documentation>Dosierung
			dosage</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([1-9]\d{0,3})|([1-9]\d,\d)|(\d,\d{1,2})|1/8|1/2|2/3|1/3|1/4|3/4"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
