public/xsd/KERN_3.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:annotation>
        <xs:documentation><![CDATA[Version 3.0 von KERN]]></xs:documentation>
    </xs:annotation>

    <xs:element name="alle" type="KERNTyp"/>

    <xs:complexType name="KERNTyp">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="KERN" type="Datensatz"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Datensatz">

        <xs:all>

            <xs:element maxOccurs="1" minOccurs="1" name="B_Dat_ID" type="text_klein_min">
                <xs:annotation>
                    <xs:documentation><![CDATA[Pat_ID extern|Textfeld (max 255 Zeichen)|Externe (Ihre) ID des Patienten]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="1" name="B_XML_date" type="xs:date">
                <xs:annotation>
                    <xs:documentation><![CDATA[Datum der Datenaufnahme|Datumsfeld (jjjj-mm-tt)]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="1" name="B_Alter">
                <xs:annotation>
                    <xs:documentation><![CDATA[Alter des/r Patienten/in in Jahren | Ganzzahl 0 - 200]]></xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="200"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="1" name="B_auf_datum" type="xs:date">
                <xs:annotation>
                    <xs:documentation><![CDATA[3. Aufnahmedatum|Datumsfeld (jjjj-mm-tt)]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="1" name="B_geschlecht" type="int_-112">
                <xs:annotation>
                    <xs:documentation><![CDATA[Geschlecht | -1=Keine Angabe; 1=weiblich; 2=männlich]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_wohnsituation" nillable="true">
                <xs:annotation>
                    <xs:documentation><![CDATA[5. Wohnsituation | -1 = Keine Angabe; 1 = Allein zu Hause lebend ;2 = Im (Pflege-/Senioren-)Heim; 3 = mit Angehörigen oder anderen privaten Bezugspersonen im Haushalt; 4 = Sonstige; 5 = stationäres Hospiz]]></xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="int_minus1_no0">
                        <xs:maxInclusive value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_ICD_haupt" nillable="true" type="text_klein">
                <xs:annotation>
                    <xs:documentation><![CDATA[10. Hauptdiagnose|Format ICD 10 GM (Buchstabe 2 Ziffern Punkt eine Ziffer, dann noch eine Ziffer, Kreuz, Stern oder Buchstaben)]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_ecog" nillable="true" type="int_-101234">
                <xs:annotation>
                    <xs:documentation><![CDATA[12. Funktionsstatus (ECOG) und Barthel-Index | -1 = Keine Angabe; 0 = Normale Aktivität; 1 = Gehfähig, leichte Aktivität möglich; 2 = Nicht arbeitsfähig, kann &gt;50% der Wachzeit aufstehen; 3 = Begrenzte Selbstversorgung, &gt;50% Wachzeit bettlägerig; 4 = Pflegebedürftig, permanent bettlägerig]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_KH_Palliativstation" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Hospiz_stationaer" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Krankenhaus_Andere_Station" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Heim" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Hausarzt" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Ambulante_Pflege" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Palliativarzt" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Palliativpflege" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Palliativberatung" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Ehrenamtlicher_Dienst" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Palliative_Care_Team" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_MVZ" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_KH_Palliativdienst" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_sonstige_behandlung" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Patientenverfuegung" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[8. Absprache/ Vorlage | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Vorsorgevollmacht" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[8. Absprache/ Vorlage | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Betreuungsurkunde" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[8. Absprache/ Vorlage | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_ACP" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[8. Absprache/ Vorlage | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Schmerzen" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Schmerzen | -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Ubelkeit" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Übelkeit | -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Erbrechen" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Erbrechen | -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Luftnot" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Luftnot | -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Verstopfung" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Verstopfung | -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Schwache" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Schwäche | -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Appetitmangel" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Appetitmangel | -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Mudigkeit" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Müdigkeit | -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Wunden" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Pflegeprobleme wegen Wunden / Dekubitus | -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Hilfe_ATL" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Hilfebedarf bei Aktivitäten des tägl. Lebens | -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Depressivitat" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Depressivität | -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Angst" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Angst | -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Anspannung" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Anspannung | -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Unruhe" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Unruhe | -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Verwirrtheit" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Desorientiertheit, Verwirrtheit | -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Versorgungsorg" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Probleme mit Organisation der Versorgung | -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_Uberforderung" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Überforderung der Familie, des Umfeldes | -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BA_sonstige_probleme" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Sonstige Probleme | -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_wohnsituation" nillable="true">
                <xs:annotation>
                    <xs:documentation><![CDATA[5. Wohnsituation | -1 = Keine Angabe; 1 = Allein zu Hause lebend ;2 = Im (Pflege-/Senioren-)Heim; 3 = mit Angehörigen oder anderen privaten Bezugspersonen im Haushalt; 4 = Sonstige; 5 = stationäres Hospiz]]></xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="int_minus1_no0">
                        <xs:maxInclusive value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_ICD_haupt" nillable="true" type="text_klein">
                <xs:annotation>
                    <xs:documentation><![CDATA[10. Hauptdiagnose | s.o.]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_ecog" nillable="true" type="int_-101234">
                <xs:annotation>
                    <xs:documentation><![CDATA[12. Funktionsstatus (ECOG) und Barthel-Index | -1 = Keine Angabe; 0 = Normale Aktivität; 1 = Gehfähig, leichte Aktivität möglich; 2 = Nicht arbeitsfähig, kann &gt;50% der Wachzeit aufstehen; 3 = Begrenzte Selbstversorgung, &gt;50% Wachzeit bettlägerig; 4 = Pflegebedürftig, permanent bettlägerig]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_KH_Palliativstation" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Hospiz_stationaer" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Krankenhaus_Andere_Station" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Heim" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Hausarzt" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Ambulante_Pflege" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Palliativarzt" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Palliativpflege" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Palliativberatung" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Ehrenamtlicher_Dienst" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Palliative_Care_Team" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_MVZ" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_KH_Palliativdienst" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_sonstige_behandlung" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[11. Behandlung, Begleitung | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Patientenverfuegung" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[8. Absprache/ Vorlage | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Vorsorgevollmacht" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[8. Absprache/ Vorlage | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Betreuungsurkunde" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[8. Absprache/ Vorlage | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_ACP" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[8. Absprache/ Vorlage | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Schmerzen" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Schmerzen| -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Ubelkeit" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Übelkeit| -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Erbrechen" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Erbrechen| -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Luftnot" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Luftnot| -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Verstopfung" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Verstopfung| -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Schwache" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Schwäche| -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Appetitmangel" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Appetitmangel| -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Mudigkeit" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Müdigkeit| -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Wunden" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Pflegeprobleme wegen Wunden / Dekubitus| -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Hilfe_ATL" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Hilfebedarf bei Aktivitäten des tägl. Lebens| -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Depressivitat" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Depressivität| -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Angst" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Angst| -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Anspannung" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Anspannung| -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Unruhe" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Unruhe| -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Verwirrtheit" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Desorientiertheit, Verwirrtheit| -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Versorgungsorg" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Probleme mit Organisation der Versorgung| -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Uberforderung" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Überforderung der Familie, des Umfeldes| -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_sonstige_probleme" nillable="true" type="int_-10123">
                <xs:annotation>
                    <xs:documentation><![CDATA[Sonstige:| -1=Keine Angabe; 0=kein; 1=leicht; 2=mittel; 3=stark]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Analgetika" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[16. Therapie | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Opioide_WHO_Stufe_2" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[16. Therapie | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Opioide_WHO_Stufe_3" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[16. Therapie | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Nicht_Opioide" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[16. Therapie | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Co_Analgetika" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[16. Therapie | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Steroide" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[16. Therapie | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Anxiolytika" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[16. Therapie | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Laxantien" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[16. Therapie | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Sedativa" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[16. Therapie | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Neuroleptika" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[16. Therapie | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Anti_Epileptika" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[16. Therapie | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Anti_Emetika" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[16. Therapie | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Anti_Biotika" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[16. Therapie | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Magenschutz" nillable="true" type="int_mfa">
                <xs:annotation>
                    <xs:documentation><![CDATA[16. Therapie | 1 = ausgewählt; -1 = nicht ausgewählt]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Chemotherapie" nillable="true" type="int_-1012">
                <xs:annotation>
                    <xs:documentation><![CDATA[Chemotherapie | -1=Keine Angabe; 0=nein; 1=fortgesetzt; 2=initiiert]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Strahlentherapie" nillable="true" type="int_-1012">
                <xs:annotation>
                    <xs:documentation><![CDATA[Strahlentherapie | -1=Keine Angabe; 0=nein; 1=fortgesetzt; 2=initiiert]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Aufwand" nillable="true" type="text_gross">
                <xs:annotation>
                    <xs:documentation><![CDATA[17. besonderer Aufwand mit:|großes Textfeld (evtl. mit Zeilenumbrüchen)]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Bedarf" nillable="true" type="text_gross">
                <xs:annotation>
                    <xs:documentation><![CDATA[Bedarf|großes Textfeld (evtl. mit Zeilenumbrüchen)]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_Massnahmen" nillable="true" type="text_gross">
                <xs:annotation>
                    <xs:documentation><![CDATA[Maßnahmen|großes Textfeld (evtl. mit Zeilenumbrüchen)]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_problem_1" nillable="true" type="text_gross">
                <xs:annotation>
                    <xs:documentation><![CDATA[18. Welches Problem konnte besonders gut gelöst werden?|großes Textfeld (evtl. mit Zeilenumbrüchen)]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="BL_problem_2" nillable="true" type="text_gross">
                <xs:annotation>
                    <xs:documentation><![CDATA[18a. Welches Problem konnte nicht ausreichend gelöst werden?|großes Textfeld (evtl. mit Zeilenumbrüchen)]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="B_datum_ende" nillable="true" type="xs:date">
                <xs:annotation>
                    <xs:documentation><![CDATA[20. Datum (Entlassung / Änderung der Betreuung / Tod)|Datumsfeld (jjjj-mm-tt)]]></xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="B_thera_ende" nillable="true">
                <xs:annotation>
                    <xs:documentation><![CDATA[21. Therapieende | -1=Keine Angabe; 1=Verstorben; 2=Verlegung, Entlassung; 4=Sonstiges; 5=Stabilisierung unter erfolgtem Versorgungs- / Behandlungsangebot; 6=Änderung der Betreuung]]></xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="int_minus1_no0">
                        <xs:maxInclusive value="6"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="B_sterbeort_0" nillable="true">
                <xs:annotation>
                    <xs:documentation><![CDATA[23. Sterbeort | -1=Keine Angabe; 1=zuhause; 2=Heim; 3=Hospiz; 4=Palliativstation; 5=Krankenhaus; 6=unbekannt; 7=Sonstiges]]></xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="int_minus1_no0">
                        <xs:maxInclusive value="7"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

            <xs:element maxOccurs="1" minOccurs="0" name="B_bewertung" nillable="true">
                <xs:annotation>
                    <xs:documentation><![CDATA[-1=Keine Angabe; 1=sehr gut; 2=gut; 3=mittel; 4=schlecht; 5=sehr schlecht|24. Abschließende Bewertung der Zufriedenheit des Teams mit der Betreuung]]></xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="int_minus1_no0">
                        <xs:maxInclusive value="5"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>

        </xs:all>

    </xs:complexType>

    <xs:simpleType name="text_gross">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10000"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="text_klein">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="text_klein_min">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="int_minus1_w0">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="-1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="int_minus1_no0">
        <xs:restriction base="xs:integer">
            <xs:pattern value="\-?[1-9][0-9]{0,7}"/>
            <xs:minInclusive value="-1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="int_-101234">
        <xs:restriction base="xs:int">
            <xs:enumeration value="-1"/>
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="int_-1012">
        <xs:restriction base="xs:int">
            <xs:enumeration value="-1"/>
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="int_-10123">
        <xs:restriction base="xs:int">
            <xs:enumeration value="-1"/>
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="int_mfa">
        <xs:restriction base="xs:int">
            <xs:enumeration value="-1"/>
            <xs:enumeration value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="int_-112">
        <xs:restriction base="xs:int">
            <xs:enumeration value="-1"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="int_-1124">
        <xs:restriction base="xs:int">
            <xs:enumeration value="-1"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="4"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="int_-11234">
        <xs:restriction base="xs:int">
            <xs:enumeration value="-1"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="4"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>