public/xsd/KERN_2.0.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:annotation>
<xs:documentation>Version 2.0 von KERN</xs:documentation>
</xs:annotation>

<xs:element name="alle" type="KERNTyp" />

	<xs:complexType name="KERNTyp">
		<xs:sequence>
            <xs:element name="KERN" type="Datensatz" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

<xs:complexType name="Datensatz">
        <xs:all>
			
<xs:element name="B_Programm" type="text_klein_min"   minOccurs="1" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Programm|Textfeld (max 255 Zeichen)|Kennung des anliefernden Programms </xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="B_Pat_ID" type="text_klein_min"   minOccurs="1" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Pat_ID extern|Textfeld (max 255 Zeichen)|Externe (Ihre) ID des Patienten</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="B_Dat_ID" type="text_klein_min"   minOccurs="1" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Dat_ID_extern|Textfeld (max 255 Zeichen)|Externe (Ihre) ID des Datensatz (nochmaliges Einliefern eines Datensatzes mit gleicher ID überschreibt den vorherigen Datensatz)</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="B_geb_datum" type="xs:gYearMonth"   minOccurs="1" maxOccurs="1" >

<xs:annotation>
<xs:documentation>2. Geburtsdatum|Datumsfeld (jjjj-mm)</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="B_auf_datum" type="xs:date"   minOccurs="1" maxOccurs="1" >

<xs:annotation>
<xs:documentation>3. Aufnahmedatum|Datumsfeld (jjjj-mm-tt)</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="B_geschlecht" type="int_-112"   minOccurs="1" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;1=1 - weiblich;2=2 - männlich|4. Geschlecht</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_wohnsituation" type="int_-11234"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;1=1 - allein;2=2 - Heim;3=3 - mit Angehörigen;4=4 - Sonstige|5. Wohnsituation</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_ICD_haupt" type="text_klein"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>10. Hauptdiagnose|Format ICD 10 GM (Buchstabe 2 Ziffern Punkt eine Ziffer, dann noch eine Ziffer, Kreuz, Stern oder Buchstaben)</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_ecog" type="int_-101234"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - Normale Aktivität;1=1 - Gehfähig, leichte Aktivität möglich;2=2 - Nicht arbeitsfähig, kann > 50% der Wachzeit aufstehen;3=3 - Begrenzte Selbstversorgung, >50% Wachzeit bettlägerig;4=4 - Pflegebedürftig, permanent bettlägerig|12. Funktionsstatus (ECOG) und Barthel-Index</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_KH_Palliativstation" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>11. Behandlung, Begleitung|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Hospiz_stationaer" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>11. Behandlung, Begleitung|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Krankenhaus_Andere_Station" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>11. Behandlung, Begleitung|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Heim" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>11. Behandlung, Begleitung|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Hausarzt" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>11. Behandlung, Begleitung|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Ambulante_Pflege" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>11. Behandlung, Begleitung|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Palliativarzt" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>11. Behandlung, Begleitung|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Palliativpflege" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>11. Behandlung, Begleitung|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Palliativberatung" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>11. Behandlung, Begleitung|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Ehrenamtlicher_Dienst" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>11. Behandlung, Begleitung|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Palliative_Care_Team" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>11. Behandlung, Begleitung|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_sonstige_behandlung" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>11. Behandlung, Begleitung|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Patientenverfuegung" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>8. Absprache/ Vorlage|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Vorsorgevollmacht" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>8. Absprache/ Vorlage|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Betreuungsurkunde" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>8. Absprache/ Vorlage|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_datum" type="xs:date"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>13. Datum der Erfassung und Dokumentation|Datumsfeld (jjjj-mm-tt)</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Schmerzen" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Schmerzen</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Ubelkeit" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Übelkeit</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Erbrechen" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Erbrechen</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Luftnot" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Luftnot</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Verstopfung" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Verstopfung</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Schwache" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Schwäche</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Appetitmangel" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Appetitmangel</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Mudigkeit" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Müdigkeit</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Wunden" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Pflegeprobleme wegen Wunden / Dekubitus</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Hilfe_ATL" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Hilfebedarf bei Aktivitäten des tägl. Lebens</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Depressivitat" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Depressivität</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Angst" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Angst</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Anspannung" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Anspannung</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Verwirrtheit" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Desorientiertheit, Verwirrtheit</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Versorgungsorg" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Probleme mit Organisation der Versorgung</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_Uberforderung" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Überforderung der Familie, des Umfeldes</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BA_sonstige_probleme" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Sonstige:</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_wohnsituation" type="int_-11234"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;1=1 - allein;2=2 - Heim;3=3 - mit Angehörigen;4=4 - Sonstige|5. Wohnsituation</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_ICD_haupt" type="text_klein"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>10. Hauptdiagnose|s.o.</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_ecog" type="int_-101234"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - Normale Aktivität;1=1 - Gehfähig, leichte Aktivität möglich;2=2 - Nicht arbeitsfähig, kann > 50% der Wachzeit aufstehen;3=3 - Begrenzte Selbstversorgung, >50% Wachzeit bettlägerig;4=4 - Pflegebedürftig, permanent bettlägerig|12. Funktionsstatus (ECOG) und Barthel-Index</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_KH_Palliativstation" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>11. Behandlung, Begleitung|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Hospiz_stationaer" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>11. Behandlung, Begleitung|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Krankenhaus_Andere_Station" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>11. Behandlung, Begleitung|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Heim" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>11. Behandlung, Begleitung|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Hausarzt" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>11. Behandlung, Begleitung|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Ambulante_Pflege" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>11. Behandlung, Begleitung|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Palliativarzt" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>11. Behandlung, Begleitung|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Palliativpflege" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>11. Behandlung, Begleitung|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Palliativberatung" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>11. Behandlung, Begleitung|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Ehrenamtlicher_Dienst" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>11. Behandlung, Begleitung|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Palliative_Care_Team" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>11. Behandlung, Begleitung|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_sonstige_behandlung" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>11. Behandlung, Begleitung|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Patientenverfuegung" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>8. Absprache/ Vorlage|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Vorsorgevollmacht" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>8. Absprache/ Vorlage|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Betreuungsurkunde" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>8. Absprache/ Vorlage|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_datum" type="xs:date"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>13. Datum der Erfassung und Dokumentation|Datumsfeld (jjjj-mm-tt)</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Schmerzen" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Schmerzen</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Ubelkeit" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Übelkeit</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Erbrechen" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Erbrechen</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Luftnot" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Luftnot</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Verstopfung" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Verstopfung</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Schwache" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Schwäche</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Appetitmangel" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Appetitmangel</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Mudigkeit" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Müdigkeit</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Wunden" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Pflegeprobleme wegen Wunden / Dekubitus</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Hilfe_ATL" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Hilfebedarf bei Aktivitäten des tägl. Lebens</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Depressivitat" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Depressivität</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Angst" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Angst</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Anspannung" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Anspannung</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Verwirrtheit" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Desorientiertheit, Verwirrtheit</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Versorgungsorg" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Probleme mit Organisation der Versorgung</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Uberforderung" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Überforderung der Familie, des Umfeldes</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_sonstige_probleme" type="int_-10123"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 - kein;1=1 - leicht;2=2 - mittel;3=3 - stark|Sonstige:</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Opioide_WHO_Stufe_3" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>16. Therapie|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Kortikosteroide" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>16. Therapie|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Chemotherapie" type="int_-1012"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 = nein;1=1 = fortgesetzt;2=2 = initiiert|Chemotherapie</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Strahlentherapie" type="int_-1012"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;0=0 = nein;1=1 = fortgesetzt;2=2 = initiiert|Strahlentherapie</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_Aufwand" type="text_gross"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>17. besonderer Aufwand mit:|großes Textfeld (evtl. mit Zeilenumbrüchen)</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_problem_1" type="text_gross"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>18. Welches Problem konnte besonders gut gelöst werden?|großes Textfeld (evtl. mit Zeilenumbrüchen)</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="BL_problem_2" type="text_gross"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>18a. Welches Problem konnte nicht ausreichend gelöst werden?|großes Textfeld (evtl. mit Zeilenumbrüchen)</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="B_datum_ende" type="xs:date"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>20. Datum (Entlassung / Änderung der Betreuung / Tod)|Datumsfeld (jjjj-mm-tt)</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="B_thera_ende" type="int_-1124"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;1=1 - Verstorben;2=2 - Verlegung, Entlassung;4=4 - Sonstiges:|21. Therapieende</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="B_sterbeort_0" type="int_-1123456"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;1=1 - zuhause;2=2 - Heim;3=3 - Hospiz;4=4 - Palliativstation;5=5 - Krankenhaus;6=6 - nicht bekannt|23. Sterbeort</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="B_bewertung" type="int_-112345"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;1=1 - sehr gut;2=2 - gut;3=3 - mittel;4=4 - schlecht;5=5 - sehr schlecht|24. Abschließende Bewertung der Zufriedenheit des Teams mit der Betreuung</xs:documentation>
</xs:annotation>

</xs:element>
            
        </xs:all>
    </xs:complexType>

			
<xs:simpleType name="text_klein_min">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>

			
			
    <xs:simpleType name="int_-112">
        <xs:restriction base="xs:int">
        	
            <xs:enumeration value="-1" />

            <xs:enumeration value="1" />

            <xs:enumeration value="2" />

		</xs:restriction>
	</xs:simpleType>	

			
			
    <xs:simpleType name="int_-11234">
        <xs:restriction base="xs:int">
        	
            <xs:enumeration value="-1" />

            <xs:enumeration value="1" />

            <xs:enumeration value="2" />

            <xs:enumeration value="3" />

            <xs:enumeration value="4" />

		</xs:restriction>
	</xs:simpleType>	

			
			
<xs:simpleType name="text_klein">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
        </xs:restriction>
    </xs:simpleType>

			
			
    <xs:simpleType name="int_-101234">
        <xs:restriction base="xs:int">
        	
            <xs:enumeration value="-1" />

            <xs:enumeration value="0" />

            <xs:enumeration value="1" />

            <xs:enumeration value="2" />

            <xs:enumeration value="3" />

            <xs:enumeration value="4" />

		</xs:restriction>
	</xs:simpleType>	

			
			
    <xs:simpleType name="int_mfa">
        <xs:restriction base="xs:int">
			<xs:enumeration value="-1" />
			<xs:enumeration value="1" />
        </xs:restriction>
    </xs:simpleType>

			
			
    <xs:simpleType name="int_-10123">
        <xs:restriction base="xs:int">
        	
            <xs:enumeration value="-1" />

            <xs:enumeration value="0" />

            <xs:enumeration value="1" />

            <xs:enumeration value="2" />

            <xs:enumeration value="3" />

		</xs:restriction>
	</xs:simpleType>	

			
			
    <xs:simpleType name="int_-1012">
        <xs:restriction base="xs:int">
        	
            <xs:enumeration value="-1" />

            <xs:enumeration value="0" />

            <xs:enumeration value="1" />

            <xs:enumeration value="2" />

		</xs:restriction>
	</xs:simpleType>	

			
			
    <xs:simpleType name="text_gross">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10000" />
        </xs:restriction>
    </xs:simpleType>

			
			
    <xs:simpleType name="int_-1124">
        <xs:restriction base="xs:int">
        	
            <xs:enumeration value="-1" />

            <xs:enumeration value="1" />

            <xs:enumeration value="2" />

            <xs:enumeration value="4" />

		</xs:restriction>
	</xs:simpleType>	

			
			
    <xs:simpleType name="int_-1123456">
        <xs:restriction base="xs:int">
        	
            <xs:enumeration value="-1" />

            <xs:enumeration value="1" />

            <xs:enumeration value="2" />

            <xs:enumeration value="3" />

            <xs:enumeration value="4" />

            <xs:enumeration value="5" />

            <xs:enumeration value="6" />

		</xs:restriction>
	</xs:simpleType>	

			
			
    <xs:simpleType name="int_-112345">
        <xs:restriction base="xs:int">
        	
            <xs:enumeration value="-1" />

            <xs:enumeration value="1" />

            <xs:enumeration value="2" />

            <xs:enumeration value="3" />

            <xs:enumeration value="4" />

            <xs:enumeration value="5" />

		</xs:restriction>
	</xs:simpleType>	

			
</xs:schema>