public/xsd/SAPV_2.0.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:annotation>
<xs:documentation>Version 2.0 von SAPV</xs:documentation>
</xs:annotation>

<xs:element name="alle" type="SAPVTyp" />

	<xs:complexType name="SAPVTyp">
		<xs:sequence>
            <xs:element name="SAPV" type="Datensatz" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

<xs:complexType name="Datensatz">
        <xs:all>
			
<xs:element name="SAPV_Programm" type="text_klein_min"   minOccurs="1" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Programm|Textfeld (max 255 Zeichen)|Kennung des anliefernden Programms </xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_Pat_ID" type="text_klein_min"   minOccurs="1" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Pat_ID extern|Textfeld (max 255 Zeichen)|Externe (Ihre) ID des Patienten</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_Dat_ID" type="text_klein_min"   minOccurs="1" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Dat_ID_extern|Textfeld (max 255 Zeichen)|Externe (Ihre) ID des Datensatz (nochmaliges Einliefern eines Datensatzes mit gleicher ID überschreibt den vorherigen Datensatz)</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_vo_datum" type="xs:date"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Verordnung|Datumsfeld (jjjj-mm-tt)</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_sapvdatum_beginn" type="xs:date"   minOccurs="1" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Datum Beginn der SAPV|Datumsfeld (jjjj-mm-tt)</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_Keine" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>SAPV-Stufe|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_Beratung" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>SAPV-Stufe|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_Beratung_arzt" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>SAPV-Stufe|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_Beratung_pflege" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>SAPV-Stufe|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_Beratung_Pat_Ang" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>SAPV-Stufe|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_Koordination" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>SAPV-Stufe|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_additiv" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>SAPV-Stufe|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_voll" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>SAPV-Stufe|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_verordnung_durch" type="int_-11234"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;1=Hausarzt;2=amb. Facharzt;3=Krankenhausarzt;4=andere|Verordnung durch</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_verordnung_art" type="int_-112"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;1=Erst-VO;2=Folge-VO|Art der Verordnung</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_uebernahme_aus" type="int_-112345"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;1=eigene Haueslichkeit;2=Pflegeheim;3=stationaeres Hospiz;4=Krankenhausstation;5=Palliativstation|Übernahme aus</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_PC_Team" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Beteiligte Partner der Versorgung PC-Team|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_Hausarzt" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Beteiligte Partner der Versorgung ärztlich|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_amb_Facharzt" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Beteiligte Partner der Versorgung ärztlich|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_Krankenhausarzt" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Beteiligte Partner der Versorgung ärztlich|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_andere_aerztlich" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Beteiligte Partner der Versorgung ärztlich|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_amb_Pflege" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Beteiligte Partner der Versorgung pflegerisch|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_amb_Palliativpflege" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Beteiligte Partner der Versorgung pflegerisch|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_Pflegeheim" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Beteiligte Partner der Versorgung pflegerisch|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_stat_Hospiz" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Beteiligte Partner der Versorgung pflegerisch|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_Palliativberatung" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Beteiligte Partner der Versorgung ambulanter Hospizdienst|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_ehrenamtl_Begleitung" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Beteiligte Partner der Versorgung ambulanter Hospizdienst|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_Case_Management" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Beteiligte Partner der Versorgung weitere Professionen|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_Ernaehrungsberatung" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Beteiligte Partner der Versorgung weitere Professionen|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_Physiotherapie" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Beteiligte Partner der Versorgung weitere Professionen|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_Psychotherapie" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Beteiligte Partner der Versorgung weitere Professionen|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_Seelsorge" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Beteiligte Partner der Versorgung weitere Professionen|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_Sozialarbeit" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Beteiligte Partner der Versorgung weitere Professionen|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_andere_professionen" type="int_mfa"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Beteiligte Partner der Versorgung weitere Professionen|1 = ausgewählt | -1 = nicht ausgewählt</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_ende_spez_amb_behandlung" type="int_-11234"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>-1=Keine Angabe;1=SAPV nicht erforderlich;2=Einweisung in KH;3=verstorben;4=anderes|Ende der spezialisierten ambulanten Palliativversorgung</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_einw_grund" type="text_gross"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Grund der Einweisung|großes Textfeld (evtl. mit Zeilenumbrüchen)</xs:documentation>
</xs:annotation>

</xs:element>
 
<xs:element name="SAPV_sapvdatum_ende" type="xs:date"  nillable="true"   minOccurs="0" maxOccurs="1" >

<xs:annotation>
<xs:documentation>Datum Ende der SAPV|Datumsfeld (jjjj-mm-tt)</xs:documentation>
</xs:annotation>

</xs:element>
            
        </xs:all>
    </xs:complexType>

			
<xs:simpleType name="text_klein_min">
        <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>

			
			
    <xs:simpleType name="int_mfa">
        <xs:restriction base="xs:int">
			<xs:enumeration value="-1" />
			<xs:enumeration value="1" />
        </xs:restriction>
    </xs:simpleType>

			
			
    <xs:simpleType name="int_-11234">
        <xs:restriction base="xs:int">
        	
            <xs:enumeration value="-1" />

            <xs:enumeration value="1" />

            <xs:enumeration value="2" />

            <xs:enumeration value="3" />

            <xs:enumeration value="4" />

		</xs:restriction>
	</xs:simpleType>	

			
			
    <xs:simpleType name="int_-112">
        <xs:restriction base="xs:int">
        	
            <xs:enumeration value="-1" />

            <xs:enumeration value="1" />

            <xs:enumeration value="2" />

		</xs:restriction>
	</xs:simpleType>	

			
			
    <xs:simpleType name="int_-112345">
        <xs:restriction base="xs:int">
        	
            <xs:enumeration value="-1" />

            <xs:enumeration value="1" />

            <xs:enumeration value="2" />

            <xs:enumeration value="3" />

            <xs:enumeration value="4" />

            <xs:enumeration value="5" />

		</xs:restriction>
	</xs:simpleType>	

			
			
    <xs:simpleType name="text_gross">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10000" />
        </xs:restriction>
    </xs:simpleType>

			
</xs:schema>